*
{
    font-family: monospace;
    font-weight: bold;
}



.MainDivisions
{
    display: flex;
    column-gap: 15%;
    justify-content: center;

    color: #ffffff;
    font-size: 17px;

    height: 400px;
}

.SubDivisions
{
    border-right: 2px solid gray;
    border-style: solid;
    border-width: thick;
    height: 100px;
}

.description
{
    position: relative;
    margin-top: 100px;
    left: 0%;
}

.bio
{
    text-align: center; 
    width: 225px;
}

#joinus
{
    background-image: url("joinus.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}