body
{
    margin:0px;

    font-family: sans-serif;
    color:#D2D3D3;

    background-color: #2D3032;
}

/*color pallete
    
    
   
    #2D3032
    #9615DB
    #555759
    #7D7F80
    #D2D3D3
*/
main
{
    background-color: white;
    min-height:max-content;
}

footer nav
{
    display:flex;
    justify-content: center; 
    background-color:#D2D3D3;
    padding:20px;
    padding-top: 0px;
}


footer nav div
{
    padding:10px;
    border: 2px ridge black;

    background-color: #9615DB;
}

textarea
{
    resize: none;
}

td input
{
    font-size: medium;
}


.service
{
    display: flex;

    margin-top: 0.7vmax;
    
    min-height: 40vmax;
}



.servbody
{
    padding: 3%;
}

.servgap
{
    min-width: 10%;
    max-width: 10%;

    background-color: #2D3032;
}

.servdesc
{
    
    min-width:30%;
}


#curtain
{
    height: 40vmax;



    background-color: white;
    background-image: url("assets/webBackground.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


#welcome
{
    width: 30vmax;
    
    padding: 5% 2%;
    

    color:#2D3032;

}
#welcome img
{
    margin-bottom: 10% 0% auto auto;
}
#welcome h2
{
    text-shadow: 1px 1px 2px #9615DB;
    
}



#PassCheckForm, #Password, #button
{
    font-size: 3vh;
}

#server
{
    padding: 20px;
    border: 2px dashed black;
}