header,nav,main,footer{display:block;}

body
{
    margin:0px;

    font-family: sans-serif;
    color:#D2D3D3;

    background-color: #2D3032;
}

/*color pallete
    #2D3032
    #9615DB
    #555759
    #7D7F80
    #D2D3D3
*/

nav#navigation
{
    background-color: black;
}

nav a
{
    
    
    border: 5px solid black;
    border-right: 0;
}

nav  a:hover{
    background-color: #210530;
    border: 5px solid #9615DB;
    border-right: 0;
}

nav ul
{
    width:250px;
    height: 25vmax;
    
    list-style-type: square;

    float: left;
    padding-top: 5%;
    margin-top: 0px;
}

nav ul li
{
    width: 200px;
    
    margin: 0.5%;
    margin-bottom: 10%;
    padding: 5%;

    border: 1px ridge white;

    box-shadow: 3px 3px 3px black;

    font-size: 1.2em;
}
nav ul li:hover
{
    cursor:pointer;
    background-color: #210530;
}

main
{
    min-height:max-content;
}

footer nav
{
    display:flex;
    justify-content: center; 
    background-color:#D2D3D3;
    padding:20px;
    padding-top: 0px;
}

a
{
    text-decoration: none;
}
dt{
    font-weight: bold;
}
hr
{
    width:80%;
}




input#Password
{
    margin-top: 30px;
    border: none;
    border-bottom: 3px solid #2D3032;
}
input#Password:focus
{
    border: none;
    border-top:  3px solid #210530;
    border-bottom: 3px solid #2D3032;
}

input#passcheck_button
{

    border: 1px solid #9615DB;
}
input#passcheck_button:hover
{
    border: 2px ridge #a600ff;
    cursor: pointer;
}
input#passcheck_button::placeholder
{
    border: 2px ridge #2D3032;
}

footer nav div
{
    padding:10px;
    border: 2px ridge black;

    background-color: #9615DB;
}

blockquote
{
    
    padding: 30px;
    border: 1px solid #9615DB;
    border-left: 9px solid #9615DB;


    background-color: white;
    color:#2D3032;
}


textarea
{
    resize: none;
    border: 4px outset darkorchid;
    
    padding:10px;
}

td input
{
    font-size: medium;
}

h1.servheader
{
    padding: 10px;
    border:2px outset #9615DB;

    

    width: 90%;

    background-color: white;

    color: #9615DB;
    text-shadow: 1px 1px 1px #2D3032;
}








.meter
{
    display: none;
}
.more
{
    display:none;
}
.service
{
    display: flex;    
    min-height: 50vmax;
    color:#2D3032;
}

.servbody
{
    background-color: white;
    padding: 3%;
    padding-top:1.5%;
    width:48%;
}

.servgap
{
    min-width: 10%;
    max-width: 10%;

    background-color: #2D3032;
}

.servdesc
{
    background-color: white;
    min-width:30%;
    width: 90%;
}

.quotes
{
    color: white;
    padding-left: 3%;
    display:flex;
    flex-direction: column;
}


.button{
    font-size:x-large;
    font-weight: bold;
    display: block;
    margin: auto;
    width: 25%;
    height: fit-content;
    color: #ffffff;
    border:none;
    border-radius: 5%;
    background-color: #9615DB;
}
.redBox{
    border: 3px ridge red; 
    width: 25px; 
    height: 25px; 
    position: relative; 
    left: -100px; 
    top: 230px;
}
.bullet{
    font-size: 50px; 
    position:relative;
    left: -500px; 
    color: red;
    width:10px;
}


#curtain
{
    height: 40vmax;



    background-color: white;
    background-image: url("assets/bg3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#welcome
{
    width: 20vmax;
    
    padding: 5% 2%;
    

    color:#2D3032;
    text-align: center;
}
#welcome img
{
    margin-bottom: 10% 0% auto auto;
}
#welcome h2
{
    text-shadow: 1px 1px 2px #9615DB;
    
}

#Password, #button
{
    font-size: 3vh;
}


#HashB
{
    display:block;
    margin-left: auto;
    margin-right: auto;
}


#cheat
{
    flex-direction: column;
}
#cheat h1
{
    margin-top: 2%;
    margin-bottom: 3%;
}




#representationText{
    border-radius: 3%;
    padding-left: 5%;
    border-radius:5%;
    border: 6px ridge #9615DB;
    border-top:0;
    border-bottom:0;
    
    font-size: medium;
    font-weight:600;
    color: #ffffff ;
    background-color: rgba(150, 21, 219, .1);
    width:30vw;
    padding:3%;
    
}
#divVids{
    display: flex;
    column-gap:0.5rem;
    justify-content: center;
}
#divVids video
{
    border: 2px solid #9615DB;
}





#passGenText h1{
    text-align: center;

    border-radius: 5%;
}
#passGenText{
    
    background-color: rgba(150, 21, 219, .1);
    color: #ffffff;
    height: fit-content;
    padding:2%;
    padding-left: 5%;
    border-radius:5%;
    border: 6px ridge #9615DB;
    border-top:0;
    border-bottom:0;
}

#box{
    background-color:#2D3032;
    padding-top:30px;
    padding: 30px;
    border-radius: 20px;
    margin: auto;
}
#generateTable{
    margin: auto;
}



#generateTable input{
    padding: 20px;
    user-select:none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: 6px solid #9615DB;
    outline: none;
    font-size: 25px;
    text-align: center;

}
#generateTable input:placeholder{
    
    font-size: 55px;
    text-align: center;
    

}

#generateTable{
    margin: auto;
    width:fit-content;
}
#generateTable,tr{
    min-height: 270px;

}
#generateTable,td{
   padding-right:10px ;
}
#generateTable,tr,td{
    color: rgb(0, 0, 0);
    font-size: 20px;
}


#btngenerate{
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    width: 155px;
    height: 50px;
    text-align: center;
    background-color: #9615DB;
    font-weight: 800;
    color:white;
    

    border-radius: 7px;
    cursor: pointer;
}
#btngenerate:hover{
    color:white;
    background: black ;   
}

#selectPassLength
{
    background-color:rgba(255, 0, 255, 0.4);
    
    margin-top:1%;
    justify-content:center;
    font-weight: 800;
    border-radius: 5px;
    display:block;
    cursor:copy;
}
#selectPassLength:hover{
    background-color: black;
}

#selectPassLength,option
{
    display: block;
    color: #e2e2e2;
    border: 2px solid rgb(0, 0, 0);
}